#content {
    height: 30vh;
    width: 100%;
    height: 100%; 
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(26, 17, 21, 0.719);
    margin: 0;
  }

#home-info {
    padding-bottom: 0%;
    
}

#home-info .ok {
    padding-bottom: 10px;
    padding-top: 50px;
    width: 100%;
    height: 100%; 
}

#home-info img {
    width: 150%;
    height: 100%;
   
}

#home-info img {
   align-self: center;
   margin-left: 0%;
   width: 100%;
   height: 100%;
   padding-bottom: 10%;

}

#home-info .yanna {
    margin-top: 10%;
}

.btn {
    color: #000;
    background: rgba(50, 53, 240, 0.575);
  margin-top: 50px;
  margin-bottom: 50px;
}


.btn:hover {
    color: #0f0c0c;
    background: rgb(247, 159, 173);
}

#home-info .card {
    background: transparent;
    border: 0px;
}

#home-info .yanna h2 {
    text-shadow: 5px 5px 5px rgb(2, 211, 248);
}

/*  */



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}