.navbar{
  background-color: rgba(1, 46, 31, 0.384);
}
.navbar .navbar-nav .nav-item .nav-link:hover {
    font-weight: bold;
    color: rgb(34, 2, 34);
    text-shadow: 0 0 20px #f470c6, 0 0 40px #f306a0;
    transition: all 0.4s ease;
  }
  .logo-img {
    height: 10%; 
    width: 10%;
    border-radius: 50%;
  }
  
  .navbar .navbar-brand:hover {
    color: #fcfafb;
    filter: drop-shadow(0 0 0.75rem rgb(252, 94, 252));
    text-shadow: 0 0 20px rgb(251, 86, 251), 0 0 40px rgb(239, 67, 239);
    transition: all 0.4s ease;
  }
  
  .navbar .navbar-brand {
    color: rgb(29, 2, 46);
  }
  
  .navbar .navbar-nav .nav-item .nav-link {
    font-size: 18px;
    text-decoration: none;
    color: rgb(56, 3, 56);
    font-weight: bold;
  }
  
  .navbar .navbar-nav .nav-item .nav-link.active {
    background-color: purple;
    border-radius: 10px;
    font-weight: bold;
    color: #fff;
  }