#portfolio-info {
    margin-top: 30%;
    margin-bottom: 10%;
    min-height: 30vh;
    background: rgba(32, 193, 199, 0.39);
}

#portfolio img {
    box-shadow: 15px 15px 10px 10px #363636;
    border-radius: 20px;
}

#portfolio .one {
    width: 350px;
}
#portfolio .two {
    width: 250px;
}
#portfolio .three {
    width: 200px;
}
#portfolio .four {
    width: 200px;
}

#portfolio h4:hover {
    text-shadow: 0 0 20px #53035e, 0 0 40px #0407a3;
}

#portfolio img:hover {
    width: 300px;
    transition: all .5s ease;
  
  }

  
#portfolio .one:hover {
    width: 400px;
    transition: all .5s ease;
  
  }

  